@model CurrencyTracker.Models.Rates

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rates</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrCompra)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
